<h1>Bem vindo</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <% User.all.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><a href="/api/v1/user/<%= user.id %>/delete">Excluir</a></td>
        </tr>
        <% end %>
    </tbody>
</table>